body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: black;
}

.video-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  margin: 1em;
}



video {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
  width: 50%;
}



p.survey {
  font-size: 3em;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scroll-snap-align: center;

}

button {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}


.embed-video {
  pointer-events: none;
}


#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Set the background color to your preference */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333; /* Set the text color to your preference */
}


/* Generic Button Styles */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db; /* Button border color */
  color: #000000; /* Button text color */
  background-color: #fff; /* Button background color */
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
button:hover {
  background-color: #4b4a4a; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}

.side-panel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #000000; /* Button border color */
}

.creator-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.creator-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.creator-name {
  font-weight: bold;
  font-size: 1.2em;
}

.comments-section {
  flex: 1;
  overflow-y: auto;
}

.comments-section h2 {
  margin: 0 0 10px;
}

.comment {
  display: flex;
  margin-bottom: 15px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.comment-content p {
  margin: 0;
}

.question {
  margin-bottom: 10px;
}

.radio-group input {
  margin-right: 3px;
}